
.cardProveedores{
    --background:#b2dfdb;
}

.toolbarProveedores{
    --background:#b1494c;
}

.titleProveedores{
    --color:white;
    text-align: center;
}
.txtProveedores{
    color:#767676;
}
.fontProveedores{
    --ion-background-color:#EDEDED;
}
.targetProveedores{
    --ion-background-color:white;
}