
.cardCompras{
    --background:#b2dfdb;
}

.toolbarCompras{
    --background:#0094cc;
}

.titleCompras{
    --color:white;
    text-align: center;
}
.txtCompras{
    color:#767676;    
}
.fontCompras{
    --ion-background-color:#EDEDED;
}
.targetCompras{
    --ion-background-color:white;
}