
.cardEquipos{
    border:2px solid #ee5c5c;
    background-color: white;
    border-radius: 10px;  
}

.toolbarEquipos{
    --background:#b62732;
    text-align: center;
}

.titleEquipos{
    --color:white;
}

.txtEquipos{
    color:#767676;
}