.toolbarCompras{
    --background:#0094cc;
}

.titleCompras{
    --color:white;
    text-align: center;
}

.fontCompras{
    --ion-background-color:#EDEDED;
}
.targetCompras{
    --ion-background-color:white;
}