<ion-header>
  <ion-toolbar class="toolbarAvances">
    <ion-title class="titleAvances">{{ titlePage }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="regresar()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="guardarForm()">
        <ion-icon name="checkmark-sharp"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="frmData" >
    <ion-list>    
      
      
      <ion-item>
        <ion-label stacked><small>Obra *</small></ion-label>
        <ion-select name="fk_obra" [formControl]="frmData.controls['fk_obra']">
          <ion-select-option *ngFor="let obra of obras" [value]="obra.id">{{ obra.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>      
      
      <ion-item >
        <ion-label >Periodo Inicial *</ion-label>        
        <ion-input          
          [formControl]="frmData.controls['fechInicial']"          
          (click)="openDatePicker(2)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Periodo Final *</ion-label>
        <ion-input readonly name="fechFinal" type="text" [formControl]="frmData.controls['fechFinal']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label >Semana *</ion-label>
        <ion-input [readonly]="flagSemana" name="semana" type="number" [formControl]="frmData.controls['semana']"></ion-input>
      </ion-item> 

      <ion-item>
        <ion-label stacked>Día</ion-label>
        <ion-select name="dia" [formControl]="frmData.controls['dia']">
          <ion-select-option *ngFor="let dia of arrDias" [value]="dia">{{ dia }}</ion-select-option>
        </ion-select>
      </ion-item> 

      <ion-item>
        <ion-label position="floating">Nota</ion-label>
          <ion-textarea rows="5" name="nota" style="margin-top: 4px; margin-bottom: 4px;" [formControl]="frmData.controls['descripcion']"></ion-textarea>
      </ion-item>
      
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button class="btnFoto" (click)="selectImage()" shape="round">Evidencia</ion-button>
          </ion-col>          
        </ion-row>

        <ion-row >
          <ion-col size="6" *ngFor="let imagen of imagenes; let i = index">                                
            <ion-card *ngIf="imagen != ''">
              <ion-badge color="danger" (click)="borrarImg(i)">X</ion-badge>
              <img [src]="imagen" (click)="openImage(imagen)" />
              </ion-card>
          </ion-col> 
        </ion-row>
      </ion-grid>


    </ion-list>   
  </form>
</ion-content>
