
.cardCompras{    
    border:2px solid #40c4ff;
    background-color: white;
    border-radius: 10px;        
}

.toolbarCompras{
    --background:#0094cc;    
}

.titleCompras{
    --color:white;
    text-align: center;
}
.txtCompras{
    color:#767676;
}