
.cardProveedores{    
    border:2px solid #e77878;
    background-color: white;
    border-radius: 10px;  
}

.toolbarProveedores{
    --background:#b1494c;
}

.titleProveedores{
    --color:white;
    text-align: center;
}
.txtProveedores{
    color:#767676;
}