

.cardAvances{    
    border:2px solid #4dd0e1;
    background-color: white;
    border-radius: 10px;        
}

.toolbarAvances{
    --background:#009faf;    
}

.titleAvances{
    --color:white;
    text-align: center;
}
.txtAvances{
    color:#767676;
}