
.cardAvances{
    --background:#b2dfdb;
}

.toolbarAvances{
    --background:#009faf;
}

.titleAvances{
    --color:white;
    text-align: center;
}
.txtAvances{
    color:#767676;    
}
.fontAvances{
    --ion-background-color:#EDEDED;
}
.targetAvances{
    --ion-background-color:white;
}


.btnFoto{
    --background:#009faf;
}