
.cardPedidos{
    border:2px solid #a39aea;
    background-color: white;
    border-radius: 10px;        
}

.toolbarPedidos{
    --background:#726cb7;
}

.titlePedidos{
    --color:white;
    text-align: center;
}
.txtPedidos{
    color:#767676;
    
}
