<ion-tabs>

  <ion-tab-bar slot="bottom">

    
    <ion-tab-button tab="home" *ngIf="usuario == 'administrador'">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    


    <!-- <ion-tab-button tab="obras">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Obras</ion-label>
    </ion-tab-button> -->

    
    <ion-tab-button tab="avances" *ngIf="usuario != 'cliente'">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Avances</ion-label>
    </ion-tab-button>
    
    
    <ion-tab-button tab="compras" *ngIf="usuario != 'cliente'">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>
        
    <ion-tab-button tab="pedidos" *ngIf="usuario != 'cliente'">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>  
    

    <ion-tab-button tab="avances-cliente" *ngIf="usuario == 'cliente'">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Avances</ion-label>
    </ion-tab-button>
        
    <ion-tab-button tab="avances-compra" *ngIf="usuario == 'cliente'">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>
    

  
  </ion-tab-bar>

</ion-tabs>
