.toolbarPedidos{
    --background:#726cb7;
}

.titlePedidos{
    --color:white;
    text-align: center;
}

.fontPedidos{
    --ion-background-color:#EDEDED;
}
.targetPedidos{
    --ion-background-color:white;
}