
.cardObras{
    --background:#b2dfdb;
}

.toolbarObras{
    --background:#88b86b;
}

.titleObras{
    --color:white;
    text-align: center;
}
.txtObras{
    color:#767676;    
}
.fontObras{
    --ion-background-color:#EDEDED;
}
.targetObras{
    --ion-background-color:white;
}