
.cardObras{
    border:2px solid #b9ea9a;
    background-color: white;
    border-radius: 10px;    
}

.toolbarObras{
    --background:#88b86b;
}

.titleObras{
    --color:white;
    text-align: center;
}

.txtClientes{
    color:#767676;
}