
.cardEquipos{
    --background:#b2dfdb;
}

.toolbarEquipos{
    --background:#b62732;
}

.titleEquipos{
    --color:white;
    text-align: center;
}
.txtEquipos{
    color:#767676;    
}
.fontEquipos{
    --ion-background-color:#EDEDED;
}
.targetEquipos{
    --ion-background-color:white;
}