
.cardEmpleados{
    --background:#b2dfdb;
}

.toolbarEmpleados{
    --background:#c6a266;    
}

.titleEmpleados{
    --color:white;
    text-align: center;
}
.txtEmpleados{
    color:#767676;
}
.fontEmpleados{
    --ion-background-color:#EDEDED;
}
.targetEmpleados{
    --ion-background-color:white;
}