
.cardEmpleados{
    border:2px solid #fad395;
    background-color: white;
    border-radius: 10px;  
}

.toolbarEmpleados{
    --background:#c6a266;
}

.titleEmpleados{
    --color:white;
    text-align: center;
}
.txtEmpleados{
    color:#767676;
}