
.cardClientes{    
    border:2px solid #9aeae9;
    background-color: white;
    border-radius: 10px;        
}

.toolbarClientes{
    --background:#68b8b7;    
}

.titleClientes{
    --color:white;
    text-align: center;
}
.txtClientes{
    color:#767676;
}