
.cardClientes{
    --background:#b2dfdb;
}

.toolbarClientes{
    --background:#68b8b7;    
}

.titleClientes{
    --color:white;
    text-align: center;    
}
.txtClientes{
    color:#767676;
}
.fontClientes{
    --ion-background-color:#EDEDED;
}
.targetClientes{
    --ion-background-color:white;
}