<ion-header>
  <ion-toolbar class="toolbarClientes">
    <ion-title class="titleClientes">{{ titlePage }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="guardarForm()">
        <ion-icon name="checkmark-sharp"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <form [formGroup]="frmData" (ngSubmit)="registrarCliente()">
    <ion-list>      
      
      <ion-item *ngIf="false">
        <ion-input name="id_cliente" type="text" [formControl]="frmData.controls['id_cliente']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre *</ion-label>
        <ion-input required="true" name="nombre" type="text" [formControl]="frmData.controls['nombre']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">RFC</ion-label>
        <ion-input name="rfc" type="text" [formControl]="frmData.controls['rfc']"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label style="font-size:30px;" position="stacked">Dirección</ion-label>
        <hr>
        <ion-input placeholder="Calle" name="calle" type="text" [formControl]="frmData.controls['calle']"></ion-input>
        <ion-input placeholder="N° Ext" name="noExt" type="text" [formControl]="frmData.controls['noExt']" ></ion-input>
        <ion-input placeholder="N° Int" name="noInt" type="text" [formControl]="frmData.controls['noInt']"></ion-input>
        <ion-input placeholder="Colonia" name="colonia" type="text" [formControl]="frmData.controls['colonia']"></ion-input>
        <ion-input placeholder="C.P." name="cp" type="number" [formControl]="frmData.controls['cp']" ></ion-input>
        <ion-input placeholder="Ciudad" name="ciudad" type="text" [formControl]="frmData.controls['ciudad']"></ion-input>
        <ion-input placeholder="Municipio" name="municipio" type="text" [formControl]="frmData.controls['municipio']"></ion-input>

      </ion-item>

      <!-- <ion-item>
        <ion-label position="floating">Calle</ion-label>
        <ion-input name="calle" type="text" [formControl]="frmData.controls['calle']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label >Número Exterior</ion-label>
        <ion-input name="noExt" type="text" [formControl]="frmData.controls['noExt']" ></ion-input>
      </ion-item> -->

      <!-- <ion-item>
        <ion-label >Número Interior</ion-label>
        <ion-input name="noInt" type="text" [formControl]="frmData.controls['noInt']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Colonia</ion-label>
        <ion-input name="colonia" type="text" [formControl]="frmData.controls['colonia']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label >C.P.</ion-label>
        <ion-input name="cp" type="number" [formControl]="frmData.controls['cp']" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input name="ciudad" type="text" [formControl]="frmData.controls['ciudad']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Municipio</ion-label>
        <ion-input name="municipio" type="text" [formControl]="frmData.controls['municipio']"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-input name="empresa" type="text" [formControl]="frmData.controls['empresa']"></ion-input>
      </ion-item>

      <hr>
      <ion-item>
        <ion-label >Email *</ion-label>
        <ion-input required="true" name="email" type="email" [formControl]="frmData.controls['email']"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label >Móvil *</ion-label>
        <ion-input required="true" name="movil" type="number" [formControl]="frmData.controls['movil']" maxlength="10"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label >Telefono</ion-label>
        <ion-input name="telefono" type="number" [formControl]="frmData.controls['telefono']" maxlength="10"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Nota</ion-label>
          <ion-textarea rows="5" name="nota" style="margin-top: 4px; margin-bottom: 4px;" [formControl]="frmData.controls['nota']"></ion-textarea>
      </ion-item>

    </ion-list>    
  </form>
</ion-content>
