.titleHome{
text-align: center;
color:#767676;

}

.btnClientes{
    --background:#9aeae9;
    // --background:#b2dfdb;
    

}
.txtClientes{
    color:  white;
    font-weight: bold;    
}

.btnObras{
    --background:#b9ea9a;
    // --background:#b2dfdb;    
}
.txtObras{
    color:  white;
    font-weight: bold;    
}



.btnProveedores{
    --background:#E77878;
    // --background:#bbdefb;
}
.txtProveedores{
    // color:#4D4D4D;
    color:  white;
    font-weight: bold;
}

.btnEmpleados{
    --background:#FAD395;
    // --background:#ffcdd2;
}
.txtEmpleados{
    color:  white;
    font-weight: bold;
}


.btnEquipos{
    --background:#EE5C5C;
    // --background:#c5cae9;
}
.txtEquipos{
    color:  white;
    font-weight: bold;
}
